@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de busqueda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <div class="container">
        <div class="card card-login">

            <div class="card-header text-white bg-primary">

            <h3>Ingreso al sistema</h3>
            </div>

            <form class="card-body">
                <div class="form-group">
                    <label>Usuario</label>
                    <input class="form-control" type="text" name="user" value="" />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="text" name="password" value="" />
                </div>

                <button class="btn btn-outline-danger">Ingresar</button>
            </form>
        </div>
    </div>

  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>